:root {
  /* Header i barra superior */
  --md-primary-fg-color:        #01003f; /* Dark Blue principal */
  --md-primary-fg-color--light: #057EB5; /* Dark Blue secundari */
  --md-primary-fg-color--dark:  #01003f;
  
  /* Enllaços i botons */
  --md-accent-fg-color:         #00B2E9; /* Blue clar */
  --md-accent-fg-color--transparent: rgba(0, 178, 233, 0.1);

  /* Lectura de text sobre fons clar */
  --md-default-fg-color:        #242424; /* Black principal (alt contrast) */
  --md-default-fg-color--light: #9ca3af; /* Gris web per a text secundari */
  --md-default-bg-color:        #F5F5F5; /* White/Off-white de fons */
}

/* Configuració de colors per al tema clar */
[data-md-color-scheme="default"] {
  --md-typeset-color: #242424;
  --md-typeset-a-color: #057EB5; /* Blau fosc per als enllaços per a millor llegibilitat */
}

/* Blocs d'avís / Notificacions (Admonitions) amb tons verd i turquesa */
.md-typeset .admonition.note,
.md-typeset details.note {
  border-color: #4CB8C9;
}
.md-typeset .note > .admonition-title,
.md-typeset .note > summary {
  background-color: rgba(76, 184, 201, 0.12);
}

.md-typeset .admonition.tip,
.md-typeset details.tip {
  border-color: #499497;
}
.md-typeset .tip > .admonition-title,
.md-typeset .tip > summary {
  background-color: rgba(73, 148, 151, 0.12);
}